# dependências
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# produção
/build

# diversos
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# variáveis de ambiente (nunca commitar segredos)
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts
